  <footer class="text-center text-lg-start bg-gradient-to-r shadow-lg from-medium-brown-color via-dark-brown-color to-medium-brown-color text-light-brown-color">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-6 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold">Nuestra Compañia</h4>
            <p class="mb-4 text-justify">
              En Librería Eviden, ofrecemos a nuestros usuarios una amplia variedad de titulos y géneros literarios.
              Proporcionados por nuestra red de vendedores y distribuidores.
            </p>
            <p class="mb-4 text-justify">
              Mantenemos el objetivo de proporcionar una experiencia de compra fácil y segura, comprometiendonos en facilitar el acceso y el amor a la lectura.
            </p>
            <p>
              Imagenes e Iconos por  <a class="text-white mt-2" href="https://iconos8.es/" >&#64;icons8</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none mt-4" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold">Contactanos</h4>
            <p class="mt-2"><i class="fas fa-home mr-3"></i> Santa Cruz, Tenerife, ES</p>
            <p class="mt-2"><i class="fas fa-envelope mr-3"></i> info&#64;libreria.eviden.com</p>
            <p class="mt-2"><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p class="mt-2"><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>

          <hr class="w-100 clearfix d-md-none mt-4" />
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
            <h4 class="text-uppercase mb-4 font-weight-bold">Siguenos</h4>

            <a class="bg-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 mb-2" href="" type="button">
              <i class="fab fa-facebook-f"></i>
            </a>

            <a class="bg-light-blue hover:bg-light-blue-700 text-white font-bold py-2 px-4 mr-2 rounded" href="" type="button">
              <i class="fab fa-twitter"></i>
            </a>

            <a class="bg-red hover:bg-red-700 text-white font-bold py-2 px-4 mr-2 mb-2 rounded" href="" type="button">
              <i class="fab fa-google"></i>
            </a>

            <a class="bg-pink hover:bg-pink-700 text-white font-bold py-2 px-4 mr-2  rounded" href="" type="button">
              <i class="fab fa-instagram"></i>
            </a>

            <a class="bg-blue hover:bg-blue-900 text-white font-bold py-2 px-4 mr-2 rounded" href="" type="button">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="bg-gray hover:bg-gray-900 text-white font-bold py-2 px-4 mr-2 rounded" href="" type="button">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright :
      <a class="text-white" href="#">Librería Eviden</a>
    </div>
    <!-- Copyright -->
  </footer>